<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Styles-->
    <link href="/public/css/inicio.css"" rel=" stylesheet">
    <link href="/public/css/style.css"" rel=" stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>Inicio de Playlist</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <!--Contenido-->

                <div class="container playlist_editar">
                    <div class="row">
                        <div class="col">
                            <h1>Playlist Nashee. ¿Ya la escuchas?</h1>
                            <p>Explora las últimas tendencias de las mejores rolitas e increíbles títulos que tenemos
                                para ti.</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-5">

                            <div class="row" style="margin-bottom: -50px;">
                                <div class="col-10">
                                    <h1>Mis canciones</h1>
                                    <div class="items" style="margin-bottom: -20px;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-user-plus" width="20" height="20"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="9" cy="7" r="4" />
                                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                            <path d="M16 11h6m-3 -3v6" />
                                        </svg>
                                        <p
                                            style="font-size: 10px; margin-left: 5px; margin-top: 3px; color: rgb(75, 75, 75);">
                                            Selección especial de Fernando Figueroa</p>
                                    </div>
                                    <div class="items" style="margin-top: 20px; margin-bottom: -2px;">
                                        <p class="items"><strong>42, 850 me gusta</strong></p>
                                        <p class="items"><strong>|</strong></p>
                                        <p class="items"><strong>8h 14 m &nbsp</strong></p>
                                    </div>

                                    <div class="items" style="margin-bottom: 20px; ">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-heart" width="28" height="28"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-circle-check" width="28" height="28"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="12" cy="12" r="9" />
                                            <path d="M9 12l2 2l4 -4" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-dots" width="28" height="28"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="5" cy="12" r="1" />
                                            <circle cx="12" cy="12" r="1" />
                                            <circle cx="19" cy="12" r="1" />
                                        </svg>

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="btnPlay">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-player-play" width="40" height="40"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="white"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M7 4v16l13 -8z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>

                            <!--Tabla-->
                            <table class="table">

                                <tbody>
                                    <!--RENGLÓN INFROMACIÓN----------------------------------------------------------------->
                                    <tr>
                                        <th scope="row" class="col-1">
                                            <img src="/public/images/Portadas/Dakiti.jpg" width="50px">
                                        </th>
                                        <td class="col-9">
                                            <h3>Dákiti</h3>
                                            <div class="items">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-arrow-down-circle" width="20"
                                                    height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <circle cx="12" cy="12" r="9" />
                                                    <line x1="8" y1="12" x2="12" y2="16" />
                                                    <line x1="12" y1="8" x2="12" y2="16" />
                                                    <line x1="16" y1="12" x2="12" y2="16" />
                                                </svg>
                                                <p class="items ajuste"">Canción &nbsp</p>
                                                <p class=" items ajuste">·</p>
                                                <p class="items ajuste">&nbsp Bad Bunny, Jhay Cortez</p>
                                            </div>

                                        </td>

                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-dots" width="28" height="28"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="#3b72f1" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <circle cx="5" cy="12" r="1" />
                                                <circle cx="12" cy="12" r="1" />
                                                <circle cx="19" cy="12" r="1" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <!--FIN RENGLÓN INFROMACIÓN------------------------------------------------------------->
                                </tbody>
                            </table>

                        </div>
                        <div class="col">

                        </div>
                        <div class="col-5">

                            <div class="row" style="margin-bottom: -50px;">
                                <div class="col-10">
                                    <h1>Mis libros</h1>
                                    <div class="items" style="margin-bottom: -20px;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-user-plus" width="20" height="20"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="9" cy="7" r="4" />
                                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                            <path d="M16 11h6m-3 -3v6" />
                                        </svg>
                                        <p
                                            style="font-size: 10px; margin-left: 5px; margin-top: 3px; color: rgb(75, 75, 75);">
                                            Bestsellers 2021</p>
                                    </div>
                                    <div class="items" style="margin-top: 20px; margin-bottom: -2px;">
                                        <p class="items"><strong>35 libros en total</strong></p>
                                        <p class="items"><strong>|</strong></p>
                                        <p class="items"><strong>Autores varios &nbsp</strong></p>
                                    </div>

                                    <div class="items" style="margin-bottom: 20px; ">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-heart" width="28" height="28"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-circle-check" width="28" height="28"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="12" cy="12" r="9" />
                                            <path d="M9 12l2 2l4 -4" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-dots" width="28" height="28"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="#3b72f1" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="5" cy="12" r="1" />
                                            <circle cx="12" cy="12" r="1" />
                                            <circle cx="19" cy="12" r="1" />
                                        </svg>

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="btnPlay">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-player-play" width="40" height="40"
                                            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="white"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M7 4v16l13 -8z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>

                            <!--Tabla-->
                            <table class="table">

                                <tbody>
                                    <!--RENGLÓN INFROMACIÓN----------------------------------------------------------------->
                                    <tr>
                                        <th scope="row" class="col-1">
                                            <img src="/public/images/Portadas/ElCodigoDaVinci.jpg" width="50px">
                                        </th>
                                        <td class="col-9">
                                            <h3>El código Da Vinci</h3>
                                            <div class="items">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-arrow-down-circle" width="20"
                                                    height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <circle cx="12" cy="12" r="9" />
                                                    <line x1="8" y1="12" x2="12" y2="16" />
                                                    <line x1="12" y1="8" x2="12" y2="16" />
                                                    <line x1="16" y1="12" x2="12" y2="16" />
                                                </svg>
                                                <p class="items ajuste"">Libro &nbsp</p>
                                                        <p class=" items ajuste">·</p>
                                                <p class="items ajuste">&nbsp Dan Brown</p>
                                            </div>

                                        </td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-dots" width="28" height="28"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="#3b72f1" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <circle cx="5" cy="12" r="1" />
                                                <circle cx="12" cy="12" r="1" />
                                                <circle cx="19" cy="12" r="1" />
                                            </svg>
                                        </td>
                                    </tr>
                                    <!--FIN RENGLÓN INFROMACIÓN------------------------------------------------------------->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Fin de contenido-->
            </div>

            <div class="col-1 menu">

                <div class="icons_menu">
                    <div class="icon_content">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-smart-home"
                            width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="rgb(22, 52, 117)"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105" />
                            <path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0" />
                        </svg>
                    </div>
                    <h3 style="font-weight: bold; color: rgb(22, 52, 117);">Inicio</h3>
                </div>

                <div class="icons_menu">
                    <div class="icon_content">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="52"
                            height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                            <line x1="16" y1="5" x2="19" y2="8" />
                        </svg>
                    </div>
                    <h3>Editar</h3>
                </div>

                <div class="icons_menu">
                    <div class="icon_content">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus"
                            width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#3b72f1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="12" x2="15" y2="12" />
                            <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </div>
                    <h3>Agregar </h3>
                </div>

            </div>
        </div>
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>