body{
    background-color: #f1f5fe;
}

.menu{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 57, 115, 240, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-top: 19vh;
    padding-bottom: 19vh;

}

.icons_menu{
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    padding: 5px;

}

.icon_content{
    display: flex; 
    justify-content: center;
}

.icons_menu:hover{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: rgba( 57, 115, 240, 0.37 );
    transform: scale(1.1);
}

.icon:hover{
    stroke: rgb(22, 52, 117);
}


.icons_menu > h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3b72f1;
    text-align: center;
}

.icons_menu:hover > h3{
    color: rgb(22, 52, 117)
}


.playlist_editar{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 57, 115, 240, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5%;
    border-radius: 5px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: 600;
    color: black;
    text-align: center;

}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    color: black;
    text-align: left;
    margin-bottom: 5px;

}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-right: 10px;

}

.items{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgb(75, 75, 75);

}

.col-11{
    padding: 40px;
}